    *{
        box-sizing: border-box;
    }

    body{
        background-color: lightgray;
    }

.container2{
    display: flex;
    flex-direction: row;
    gap:14px;
    padding-right: 6px;
}

.container3,.container4,.container5,.container6{
    display: flex;
    flex:1 1 0;
    flex-direction: row;
    gap:10px
}

.container1{
    display: flex;
    width: 390px;
    height:100px;
    border:1px solid black;
    margin-top: 4px;
    background-color: white;
}   

.container{
    display: flex;
    flex-direction: column;
    border:1px solid black;
    width: 400px;
    height: 520px;
    gap: 10px;
    padding-left: 4px;
    padding-bottom: 3px;
    background-color: #8E8E8E;
}

.Calculator{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.zero,.one,.two,.three,.four,.five,.six,.seven,.eight,.nine,.divide,.multiply,.subtract,.add,.equal,.decimal{
    width: 90px;
    height:70px;
    font-size: 20px;
    background-color: rgb(228, 220, 220);
    border-color: black;
}


.clear,.delete{
    width:190px;
    height:70px;
    font-size: 20px;
    border-color: black;
}

.clear{
    background-color: rgb(231, 123, 123);
} 
 

   





























